.project
.profile
.settings
.classpath
.factorypath
.DS_Store
.idea
*.iml
/*/target
*.swp
target
/blackduck-detect/
/coverity/
polaris/blackduck-detect/impact-analysis/
polaris/blackduck-detect/signature-scan/
polaris/coverity/build
polaris/out
.bridge/
*~
!/polaris/polaris.json
!/polaris/coverity/coverity.yaml
!/polaris/blackduck-detect/detect.yaml
